@charset "UTF-8";

/* sample flex */
#sample_flex {
  .gnav {
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .item {
      background: #f6f6f6;
      border-bottom: 2px solid #f6f6f6;
      &:hover {
        border-bottom: 2px solid #ccc;
      }
      a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #848484;
      }
    }
  }
}
